.price-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #1C274C;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.price {
  color: #1C274C;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.features {
  margin-top: 15px;
}

.feature {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #1C274C;
  opacity: 0.75;
  font-weight: 600;
}

.check-icon {
  display: flex;
  margin-right: 5px;
} 