.header {
  padding: 0.1rem 1rem 0 1rem;
  min-height: 47px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 10px;
  position: relative;
}

.profile-image img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.logo {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--quinary-color);
  margin: 0;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.settings img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.settings img:hover {
  transform: rotate(90deg);
}

.welcome-message {
  text-align: center;
}

.welcome-message h2 {
  font-size: 0.8rem;
  color: color-mix(in srgb, var(--quinary-color) 50%, transparent);
  margin: 0;
}

.header-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color-mix(in srgb, var(--primary-color) 20%, transparent);
}

.header-simple .logo {
  width: 42px;
  height: 42px;
}