<header class="header"  [class.header-simple]="!isHomePage">
  <!-- Primera fila con los tres elementos -->
  <div class="header-top">
    <!-- Imagen de perfil a la izquierda (solo visible en home) -->
    @if (isHomePage) {
      <div class="profile-image">
        <img src="assets/images/profile-default.svg" alt="Perfil">
      </div>
    } @else {
      <div class="empty-space"></div>
    }

    <!-- Logo y nombre en el centro (siempre visible) -->
    <div class="logo-container">
      <img 
        src="assets/images/logo.svg" 
        alt="Logo" 
        class="logo" 
        [class.clickable]="isLogoClickable"
        (click)="isLogoClickable && navigateToHome()">
      @if (isHomePage) { 
        <h1 class="app-name">MyFitnessDiary</h1>
      }
    </div>

    <!-- Icono de configuración a la derecha (solo visible en home) -->
    @if (isHomePage) {
      <div class="settings">
        <img src="assets/icons/settings.svg" alt="Ajustes" (click)="navigateToSettings()">
      </div>
    } @else {
      <div class="empty-space"></div>
    }
  </div>

  <!-- Mensaje de bienvenida (solo visible en home) -->
  @if (isHomePage) {
    <div class="welcome-message">
      <h2>¡Hola, {{user.username}}! Aquí está tu progreso reciente</h2>
    </div>
  }
</header>
