<div class="trainer-card-container">
  <div class="trainer-card">
    <div class="trainer-avatar">
      <img [src]="trainer.image" [alt]="trainer.name" class="trainer-image">
    </div>
    <div class="trainer-info">
      <h2 class="trainer-name">{{trainer.name}}</h2>
      <p class="trainer-location">Ubicación: {{trainer.location}}</p>
      <div class="trainer-contact">
        <p>Contacto:
        <p *ngIf="trainer.contact.email"><a [href]="'mailto:' + trainer.contact.email">{{trainer.contact.email}}</a>
        <p *ngIf="trainer.contact.phone"><a [href]="'tel:' + trainer.contact.phone">{{trainer.contact.phone}}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="trainer-specialties">
    <span class="specialty-tag" *ngFor="let specialty of trainer.specialties">
      {{specialty}}
    </span>
  </div>
</div>