<div class="exercise-card-container">
    <div class="exercise-card">
        <div class="exercise-icon">
            <img [src]="exercise.image" alt="exercise icon">
        </div>
        <div class="exercise-info">
            <h3>{{ exercise.name }}</h3>
            <p>{{ exercise.tags.join(', ') }}</p>
        </div>
        <div class="exercise-selection">
            <div class="exercise-selected" (click)="onSelectedChange(!selected)">
                <app-carrier-icon *ngIf="!selected"></app-carrier-icon>
                <app-trashcan-icon *ngIf="selected"></app-trashcan-icon>
            </div>
        </div>
    </div>

    <div class="exercise-properties" *ngIf="selected">
        <div class="exercise-serie" *ngFor="let serie of [].constructor(templateExercise.sets.length); let i = index">
            <p class="exercise-serie-number">Serie {{ i + 1 }}</p>
            <p>
                <span class="exercise-serie-reps">{{ templateExercise.sets[i].reps }}</span>
                <span class="exercise-serie-reps-unit">Reps</span>
            </p>
            <p>
                <span class="exercise-serie-weight">{{ templateExercise.sets[i].weight }}</span>
                <span class="exercise-serie-weight-unit">kg/lbs</span>
            </p>
            <p class="exercise-serie-add-serie">
                <app-minus-circle-icon *ngIf="templateExercise.sets.length != 1" (click)="removeSerie(i)"></app-minus-circle-icon>
                <app-plus-circle-icon *ngIf="i === templateExercise.sets.length - 1"
                (click)="addSerie()"
                ></app-plus-circle-icon>
                <!--<app-plus-circle-icon *ngIf="i === properties.sets - 1; else emptySpace"></app-plus-circle-icon>
                ng-template #emptySpace><div style="width: 20px; height: 20px;"></div></ng-template>-->
            </p>
        </div>
    </div>
</div>