.exercise-card-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-color);
  width: 95%;
  margin: 0 auto;
}

.exercise-card {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 15px;
  margin: 20px 10px 0px 10px;
}

.exercise-icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.exercise-info {
  flex-grow: 1;
}

.exercise-info h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.exercise-info p {
  margin: 4px 0 0 0;
  font-size: 0.8rem;
  color: var(--quaternary-color);
}

.exercise-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exercise-selected {
  cursor: pointer;
  padding: 10px;
}

.exercise-selected:hover {
  color: var(--primary-color);
}

.exercise-serie-icons-space {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.exercise-serie-icons-space:hover {
  color: var(--primary-color);
}

.exercise-serie-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 20px;
}

.exercise-properties {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.exercise-serie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.exercise-serie p {
  margin: 0;
  font-size: 1.15rem;
  font-weight: bold;
}

.exercise-serie-reps {
  margin-right: 5px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.exercise-serie-weight {
  margin-right: 5px; 
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}
