.exercise-card {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 15px;
  margin: 20px 10px;
  border-bottom: 1px solid var(--primary-color);
}

.exercise-icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.exercise-info {
  flex-grow: 1;
}

.exercise-info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.exercise-info p {
  margin: 4px 0 0 0;
  font-size: 0.8rem;
  color: var(--quaternary-color);
}

.exercise-selected {
  cursor: pointer;
  padding: 10px;
}

.exercise-selected:hover {
  color: var(--primary-color);
}
