<div class="reset-password-container">
  <div class="reset-password-content">
    <div class="reset-password-header">
      <img src="assets/images/logo.svg" alt="Logo" class="reset-password-logo">
    </div>
    <div class="reset-password-body">
      <h1 class="app-name">My Fitness Diary</h1>
      <form class="reset-password-form">
        <div class="password-input-container">
          <input 
            type="password" 
            placeholder="Nueva contraseña" 
            class="form-input"
            [(ngModel)]="password"
            (ngModelChange)="onPasswordChange($event)"
            (focus)="showPasswordErrors = true"
            name="password">
          <div class="password-errors" *ngIf="showPasswordErrors && passwordErrors.length > 0">
            <div class="error-message" *ngFor="let error of passwordErrors">
              {{ error }}
            </div>
          </div>
        </div>
        <div class="password-input-container">
          <input 
            type="password" 
            placeholder="Repite la contraseña" 
            class="form-input"
            [(ngModel)]="confirmPassword"
            (ngModelChange)="onConfirmPasswordChange($event)"
            name="confirmPassword">
        </div>
      </form>
      <div class="reset-password-footer">
        <button type="submit" class="reset-password-button" (click)="onSave()">Guardar</button>
      </div>
    </div>
  </div>
</div> 