<div class="registration-container">
  <div class="registration-content">
    <div class="registration-header">
      <img src="assets/images/logo.svg" alt="Logo" class="registration-logo">
    </div>
    <div class="registration-body">
      <h1 class="app-name">My Fitness Diary</h1>
      <form class="registration-form">
        <input type="text" placeholder="Nombre completo" class="form-input">
        <input type="email" placeholder="Email" class="form-input">
          <input 
            type="password" 
            placeholder="Contraseña" 
            class="form-input"
            [(ngModel)]="password"
            (ngModelChange)="onPasswordChange($event)"
            (focus)="showPasswordErrors = true"
            name="password">
        <div class="password-input-container">
        <input 
          type="password" 
          placeholder="Repite contraseña" 
          class="form-input"
          [(ngModel)]="confirmPassword"
          (ngModelChange)="onConfirmPasswordChange($event)"
          name="confirmPassword">
          <div class="password-errors" *ngIf="showPasswordErrors && passwordErrors.length > 0">
            <div class="error-message" *ngFor="let error of passwordErrors">
              {{ error }}
            </div>
          </div>
        </div>
      </form>
      <div class="registration-footer">
        <button type="submit" class="registration-button">Registrarme y entrar</button>
        <a href="/login" class="login-link">Ya tengo una cuenta</a>
      </div>
    </div>
    <div class="privacy-container">
      <p class="privacy-text">
        Al registrarte, aceptas que recopilamos y utilizamos tus datos de acuerdo con nuestra 
        <a href="#" target="_blank" class="privacy-link">Política de Privacidad</a>. 
        Te aseguramos que tus datos estarán protegidos y solo se utilizarán para mejorar tu experiencia en MyFitnessDiary.
      </p>
    </div>
  </div>
</div> 