.template-edit-container {
  display: flex;
  flex-direction: column;
}

.template-form {
  width: 100%;
}

.template-form p {
  margin: 15px 10px 0px 10px;
  padding: 0px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--quinary-color);
}

.editable-title {
  margin: 10px;
  padding: 0px;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
  cursor: text;
  transition: border-color 0.3s ease;
  font-size: 1.15rem;
}

.editable-title:focus {
  border-color: var(--primary-color);
  background-color: #f8f8f8;
}

.editable-title:empty:before {
  content: attr(data-placeholder);
  color: #999;
}

.template-properties {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}

.property {
  display: flex;
  gap: 0.15rem;
  align-items: center;
}

.property-label {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.property-value {
  color: black;
  font-size: 1.2rem;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
  cursor: text;
  transition: border-color 0.3s ease;
  background-color: #f0f0f0;
}

.property-value:focus {
  border-color: var(--primary-color);
  background-color: #f8f8f8;
}

.unit {
  color: var(--quinary-color);
  font-size: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: #F9F9F9;
}

.search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.search-input::placeholder {
  color: var(--quaternary-color);
  font-weight: bold;
}

.exercises-container {
  margin-top: 10px;
  margin-bottom: 100px;
}

.floating-save-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  width: 75%;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.floating-save-button:hover {
  background-color: var(--secondary-color);
}

.floating-save-button app-save-icon {
  color: white;
}







