<nav class="nav-menu">
  <div class="nav-item" [class.active]="isActive('/home')" (click)="navigateTo('/home')">
    <app-home-icon class="nav-icon"></app-home-icon>
    <span>Inicio</span>
  </div>
  <div class="nav-item" [class.active]="isActive('/diary')" (click)="navigateTo('/diary')">
    <app-diary-icon class="nav-icon"></app-diary-icon>
    <span>Diario</span>
  </div>
  <div class="nav-item" [class.active]="isActive('/template-list')" (click)="navigateTo('/template-list')">
    <app-template-icon class="nav-icon"></app-template-icon>
    <span>Plantilla</span>
  </div>
  <div class="nav-item" [class.active]="isActive('/trainer')" (click)="navigateTo('/trainer')">
    <app-trainer-icon class="nav-icon"></app-trainer-icon>
    <span>Entrenador</span>
  </div>
</nav>