<div class="app-container">
  <!-- Header que cambia según la ruta -->
  <ng-container *ngIf="isAuthenticated">
    <app-home-header *ngIf="isHomeHeader"></app-home-header>
    <app-default-header *ngIf="!isHomeHeader" [showBackButton]="showBackButton" [showLogoutButton]="showLogoutButton"></app-default-header>
    <app-navigation-menu *ngIf="showNavMenu"></app-navigation-menu>
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container *ngIf="!isAuthenticated">
    <router-outlet></router-outlet>
  </ng-container>
</div>