/* src/styles.css */

:root {
  --primary-color: #BF8709;
  --secondary-color: #523857;
  --background-color: #ffffff;
  --text-color: #212529;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
